{% extends 'page.html.twig' %} 
{% block content %} 
{% if success %}
<div class="alert alert-success" role="alert">
    {{ success }}
</div>
{% endif %} 
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
<p>Вводите в порядке в каком хотите чтобы появились в "Других публикациях"</p>
{% if already %}
<div>
   
   <p>Уже введены для poems_id - {{ already[0][0] }} main_biblio_id - {{ already[0][1] }}: </p>

     {% for rec in already %}
     {{ rec[2] }} - {{ rec[3] }}, 
     {% endfor %}

    <p>&nbsp;</p>
</div>
{% endif %}
<form action="./admin_biblio.php?action=addbiblio&posted=1" method="POST">
    <div class="form-row text-center justify-content-center">
        <div class="col-auto">
            <label for="inputpoems_id">ID перевода</label>
            <input type="text" class="form-control" name="poems_id" id="inputpoems_id" required>
        </div>
        <div class="col-auto">
            <label for="inputmain_biblio_id">Основной biblio_ID</label>
            <input type="text" class="form-control" name="main_biblio_id" id="inputmain_biblio_id" required>
        </div>
        <div class="col-auto">
            <label for="inputother-bibli_id">Добавочный biblio_ID</label>
            <input type="text" class="form-control" name="other_biblio_id" id="inputother-bibli_id" required>
        </div>
        <div class="col-auto">
            <label for="inputpage">Страница</label>
            <input type="text" class="form-control" name="page" id="inputpage" required>
        </div>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}