{% extends 'page.html.twig' %} {% block content %} {% if success %}
<div class="alert alert-success" role="alert">
  {{ success }}
</div>
{% endif %} {% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %} {% if header %}
<h2>{{ header }}</h2>
{% endif %}
<script src="/js/tinymce/js/tinymce/tinymce.min.js"></script>
<form
  action="./admin_poems.php?action=modify&record_id={{ record_id }}&posted=1"
  method="POST"
>
  <div class="form-row text-center justify-content-center">
    <div class="col-auto">
      <label for="inputCode">ID автора</label>
      <input
        type="text"
        class="form-control"
        name="author_id"
        value="{{ author_id }}"
      />
    </div>
    <div class="col-auto">
      <label for="inputYear">ID переводчика1</label>
      <input
        type="text"
        class="form-control"
        name="translator1_id"
        value="{{ translator1_id }}"
      />
    </div>
    <div class="col-auto">
      <label for="inputYear">ID переводчика2</label>
      <input
        type="text"
        class="form-control"
        name="translator2_id"
        value="{{ translator2_id }}"
      />
    </div>
  </div>
  <div class="form-row text-center justify-content-center">
    <div class="col-auto">
      <label for="inputISBN">Тема 1</label>
      <input
        type="text"
        class="form-control"
        name="topic1_id"
        value="{{ topic1_id }}"
      />
    </div>
    <div class="col-auto">
      <label for="inputISBN">Тема 2</label>
      <input
        type="text"
        class="form-control"
        name="topic2_id"
        value="{{ topic2_id }}"
      />
    </div>
    <div class="col-auto">
      <label for="inputISBN">Тема 3</label>
      <input
        type="text"
        class="form-control"
        name="topic3_id"
        value="{{ topic3_id }}"
      />
    </div>
    <div class="col-auto">
      <label for="inputISBN">Тема 4</label>
      <input
        type="text"
        class="form-control"
        name="topic4_id"
        value="{{ topic4_id }}"
      />
    </div>
    <div class="col-auto">
      <label for="inputISBN">Тема 5</label>
      <input
        type="text"
        class="form-control"
        name="topic5_id"
        value="{{ topic5_id }}"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputAuthor">Название цикла кит.</label>
    <input
      type="text"
      class="form-control"
      name="cycle_zh"
      value="{{ cycle_zh }}"
    />
  </div>
  <div class="form-row text-center justify-content-center">
    <div class="col-10">
      <label for="cycle_ru">Название цикла рус.</label>
      <input
        type="text"
        class="form-control"
        name="cycle_ru"
        value="{{ cycle_ru }}"
      />
    </div>
    <div class="col-2">
      <label for="corder">Порядковый номер</label>
      <input
        type="text"
        class="form-control"
        name="corder"
        value="{{ corder }}"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputtranslator">Название подцикла кит.</label>
    <input
      type="text"
      class="form-control"
      name="subcycle_zh"
      value="{{ subcycle_zh }}"
    />
  </div>
  <div class="form-row text-center justify-content-center">
    <div class="col-10">
      <label for="subcycle_ru">Название подцикла рус.</label>
      <input
        type="text"
        class="form-control"
        name="subcycle_ru"
        value="{{ subcycle_ru }}"
      />
    </div>
    <div class="col-2">
      <label for="scorder">Порядковый номер</label>
      <input
        type="text"
        class="form-control"
        name="scorder"
        value="{{ scorder }}"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputseria">Название стиха кит.</label>
    <input
      type="text"
      class="form-control"
      name="poem_name_zh"
      value="{{ poem_name_zh }}"
    />
  </div>
  <div class="form-group">
    <label for="inputpublisher">Название стиха рус.</label>
    <input
      type="text"
      class="form-control"
      name="poem_name_ru"
      value="{{ poem_name_ru }}"
    />
  </div>
  <div class="form-row text-center justify-content-center">
    <div class="col-auto">
      <label for="inputCode">Код стиха</label>
      <input
        type="text"
        class="form-control"
        name="poem_code"
        value="{{ poem_code }}"
      />
    </div>
    <div class="col-auto">
      <label for="inputYear">ID источника (книги)</label>
      <input
        type="text"
        class="form-control"
        name="biblio_id"
        value="{{ biblio_id }}"
      />
    </div>
    <div class="col-auto">
      <label for="inputYear">Страница в источнике</label>
      <input
        type="text"
        class="form-control"
        name="page"
        value="{{ page }}"
      />
    </div>
    <div class="col-auto">
      <label for="inputtotallines">Строк всего</label>
      <input
        type="text"
        class="form-control"
        name="totallines"
        value="{{ totallines }}"
      />
    </div>
    <div class="col-auto">
      <label for="inputfulllines">Строк с отступом</label>
      <input
        type="text"
        class="form-control"
        name="fulllines"
        value="{{ fulllines }}"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputgenres">Жанр</label>
    <input
      type="text"
      class="form-control"
      name="genres"
      value="{{ genres }}"
    />
  </div>
  <div class="form-group" width="50">
    <label for="site">Сайт (только если нет ID источника)</label>
    <input type="text" class="form-control" name="site" value="{{ site }}" />
  </div>
  <div class="form-group">
    <label for="siteURL">Сайт URL (только если нет ID источника)</label>
    <input
      type="text"
      class="form-control"
      name="siteURL"
      value="{{ siteURL }}"
    />
  </div>
  <div class="form-group">
    <label for="inputFull">Введите и отредактируйте HTML текста стиха</label>
    <textarea class="form-control" name="poem_text" id="poem_text" rows="30">{{
      poem_text
    }}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
  tinymce.init({
    content_css:
      "/css/bootstrap.css,/css/chinesepoetry2.css,/css/chinesepoetry.css",
    selector: "textarea#poem_text",
    height: 500,

    plugins: [
      "advlist autolink lists link image charmap print preview anchor",
      "searchreplace visualblocks code fullscreen",
      "insertdatetime media table code help template",
    ],
    toolbar:
      "undo redo | formatselect | " +
      "bold italic backcolor | alignleft aligncenter " +
      "alignright alignjustify | bullist numlist outdent indent | " +
      "removeformat | template | help",
  });
</script>

{% endblock %}
