{% extends 'page_root.html.twig' %} {% block content %}
<!-- at_list.html.twig -->
<div class="jumbotron" id="originals_jumbotron">
    <div class="row">
        <div class="col-10 mx-auto">
            {% if byTranslator %}
            <h4 class="author header" id="author_header">{{ header|raw }}</h4>
            <p>&nbsp;</p>
            <div id="translators_content_table">
                {% if has_originals %}                
                    <div class="poems originals list"><h4>Оригиналы:</h4></div>
                    {% for fin in orig_final %}
                        <ol><ul>
                            {% for cycle in fin.poems|keys %}
                                {% if not (cycle starts with  'default') %}                        
                                    <li class="cycle">{{ cycle|raw }}<ul>
                                {% endif %}
                                {% for subcycle in fin.poems[cycle]|keys %}
                                    {% if not (subcycle starts with  'default') %}                        
                                        <li  class="subcycle">{{ subcycle|raw }}<ul>
                                    {% endif %}
                                        {% for poem in fin.poems[cycle][subcycle] %}
                                        <li class="poem_name"><a href="./originals.php?action=show&record_id={{ poem[0] }}">
                                            <span class="poem_name zh">{{ poem[13]|raw }}</span> <span class="poem_name ru">{{ poem[14]|raw }}</span></a></li>
                                        {% endfor %}
                                                    
                                    {% if not (subcycle starts with  'default') %}                        
                                        </ul></li>
                                    {% endif %}
                                {% endfor %}
                                {% if not (cycle starts with  'default') %}                        
                                    </ul></li>
                                {% endif %}
                          {% endfor %}
                        </ul></ol>
                    {% endfor %}                    
                {% endif %}
            <ol>
                {% for fin in final %}
                <li class="poems translators list"><h4>Перевод: {{ fin.translator|raw }}</h4></li>
                    <ul>
                        {% for cycle in fin.poems|keys %}
                            {% if not (cycle starts with  'default') %}                        
                                <li class="cycle">{{ cycle|raw }}<ul>
                            {% endif %}
                            {% for subcycle in fin.poems[cycle]|keys %}
                                {% if not (subcycle starts with  'default') %}                        
                                    <li  class="subcycle">{{ subcycle|raw }}<ul>
                                {% endif %}
                                    {% for poem in fin.poems[cycle][subcycle] %}
                                    <li class="poem_name"><a href="./poems.php?action=show&poem_id={{ poem[0] }}">
                                        <span class="poem_name zh">{{ poem[13]|raw }}</span> <span class="poem_name ru">{{ poem[14]|raw }}</span></a></li>
                                    {% endfor %}
                                                
                                {% if not (subcycle starts with  'default') %}                        
                                    </ul></li>
                                {% endif %}
                            {% endfor %}
                            {% if not (cycle starts with  'default') %}                        
                                </ul></li>
                            {% endif %}
                      {% endfor %}
                    </ul></li>
                {% endfor %}
            </ol>
            </div>
            {% elseif byAuthor %}
            <h4 class="author header" id="author_header">{{ header|raw }}</h4>
            <p>&nbsp;</p>
            <div id="authors_content_table">
            <ol>
                {% for fin in final %}
                <li class="poems authors list"><h4>{{ fin.author|raw }}</h4></li>
                    <ul>
                        {% for cycle in fin.poems|keys %}
                            {% if not (cycle starts with  'default') %}                        
                                <li class="cycle">{{ cycle|raw }}<ul>
                            {% endif %}
                            {% for subcycle in fin.poems[cycle]|keys %}
                                {% if not (subcycle starts with  'default') %}                        
                                    <li  class="subcycle">{{ subcycle|raw }}<ul>
                                {% endif %}
                                    {% for poem in fin.poems[cycle][subcycle] %}
                                    <li class="poem_name"><a href="./poems.php?action=show&poem_id={{ poem[0] }}">
                                        <span class="poem_name zh">{{ poem[13]|raw }}</span> <span class="poem_name ru">{{ poem[14]|raw }}</span></a></li>
                                    {% endfor %}
                                                
                                {% if not (subcycle starts with  'default') %}                        
                                    </ul></li>
                                {% endif %}
                            {% endfor %}
                            {% if not (cycle starts with  'default') %}                        
                                </ul></li>
                            {% endif %}
                      {% endfor %}
                    </ul></li>
                {% endfor %}
            </ol>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}