{% extends 'page_root.html.twig' %} {% block content %}
<!-- authors_showall.html.twig -->
<div class="jumbotron" id="authors_jumbotron">
    <div class="row">
        <div class="col-8 mx-auto">
            <h4 class="authors header" id="authors_header">{{ header }}</h4>
           {% if showall and show_alphabet %}
            <div class="alphabet text-center"><a href="#А">А</a> | <a href="#Б">Б</a> | <a href="#В">В</a> | <a href="#Г">Г</a> | <a href="#Д">Д</a> | <a href="#Е">Е</a> | <a href="#Ж">Ж</a> | <a href="#И">И</a> | <a href="#К">К</a> | <a href="#Л">Л</a> | <a href="#М">М</a> | <a href="#Н">Н</a> | <a href="#О">О</a> | <a href="#П">П</a> | <a href="#С">С</a> | <a href="#Т">Т</a> | <a href="#У">У</a> | <a href="#Ф">Ф</a> | <a href="#Х">Х</a> | <a href="#Ц">Ц</a> | <a href="#Ч">Ч</a> | <a href="#Ш">Ш</a> | <a href="#Э">Э</a> | <a href="#Ю">Ю</a> | <a href="#Я">Я</a></div>
            <div id="authors_content_table">
            {% apply spaceless %}
            <ol>
            {% set curr, prev = 'А','1' %}
            {% for record in records %}
                {% if (record[2] starts with 'А') and  (curr != prev) %}<a name="А"></a>{% set curr,prev = 'А','А' %}{% endif %}
                    {% if record[2]  starts with  'Б' %}{% set curr = 'Б' %}{% endif %}
                {% if record[2] starts with 'Б' and curr != prev %}<a name="Б"></a>{% set prev = 'Б' %}{% endif %}
                    {% if record[2]  starts with  'В' %}{% set curr = 'В' %}{% endif %}
                {% if record[2] starts with 'В' and curr != prev %}<a name="В"></a>{% set prev = 'В' %}{% endif %}
                    {% if record[2]  starts with  'Г' %}{% set curr = 'Г' %}{% endif %}
                {% if (record[2] starts with 'Г') and  (curr != prev) %}<a name="Г"></a>{% set prev = 'Г' %}{% endif %}
                    {% if record[2]  starts with  'Д' %}{% set curr = 'Д' %}{% endif %}
                {% if record[2] starts with 'Д' and curr != prev %}<a name="Д"></a>{% set prev = 'Д' %}{% endif %}
                    {% if record[2]  starts with  'Е' %}{% set curr = 'Е' %}{% endif %}
                {% if record[2] starts with 'Е' and curr != prev %}<a name="Е"></a>{% set prev = 'Е' %}{% endif %}
                    {% if record[2]  starts with  'Ж' %}{% set curr = 'Ж' %}{% endif %}
                {% if record[2] starts with 'Ж' and curr != prev %}<a name="Ж"></a>{% set prev = 'Ж' %}{% endif %}
                    {% if record[2]  starts with  'И' %}{% set curr = 'И' %}{% endif %}
                {% if record[2] starts with 'И' and curr != prev %}<a name="И"></a>{% set prev = 'И' %}{% endif %}
                    {% if record[2]  starts with  'К' %}{% set curr = 'К' %}{% endif %}
                {% if record[2] starts with 'К' and curr != prev %}<a name="К"></a>{% set prev = 'К' %}{% endif %}
                    {% if record[2]  starts with  'Л' %}{% set curr = 'Л' %}{% endif %}
                {% if record[2] starts with 'Л' and curr != prev %}<a name="Л"></a>{% set prev = 'Л' %}{% endif %}
                    {% if record[2]  starts with  'М' %}{% set curr = 'М' %}{% endif %}
                {% if record[2] starts with 'М' and curr != prev %}<a name="М"></a>{% set prev = 'М' %}{% endif %}
                    {% if record[2]  starts with  'Н' %}{% set curr = 'Н' %}{% endif %}
                {% if record[2] starts with 'Н' and curr != prev %}<a name="Н"></a>{% set prev = 'Н' %}{% endif %}
                    {% if record[2]  starts with  'О' %}{% set curr = 'О' %}{% endif %}
                {% if record[2] starts with 'О' and curr != prev %}<a name="О"></a>{% set prev = 'О' %}{% endif %}
                    {% if record[2]  starts with  'П' %}{% set curr = 'П' %}{% endif %}
                {% if record[2] starts with 'П' and curr != prev %}<a name="П"></a>{% set prev = 'П' %}{% endif %}
                    {% if record[2]  starts with  'С' %}{% set curr = 'С' %}{% endif %}
                {% if record[2] starts with 'С' and curr != prev %}<a name="С"></a>{% set prev = 'С' %}{% endif %}
                    {% if record[2]  starts with  'Т' %}{% set curr = 'Т' %}{% endif %}
                {% if record[2] starts with 'Т' and curr != prev %}<a name="Т"></a>{% set prev = 'Т' %}{% endif %}
                    {% if record[2]  starts with  'У' %}{% set curr = 'У' %}{% endif %}
                {% if record[2] starts with 'У' and curr != prev %}<a name="У"></a>{% set prev = 'У' %}{% endif %}
                    {% if record[2]  starts with  'Ф' %}{% set curr = 'Ф' %}{% endif %}
                {% if record[2] starts with 'Ф' and curr != prev %}<a name="Ф"></a>{% set prev = 'Ф' %}{% endif %}
                    {% if record[2]  starts with  'Х' %}{% set curr = 'Х' %}{% endif %}
                {% if record[2] starts with 'Х' and curr != prev %}<a name="Х"></a>{% set prev = 'Х' %}{% endif %}
                    {% if record[2]  starts with  'Ц' %}{% set curr = 'Ц' %}{% endif %}
                {% if record[2] starts with 'Ц' and curr != prev %}<a name="Ц"></a>{% set prev = 'Ц' %}{% endif %}
                    {% if record[2]  starts with  'Ч' %}{% set curr = 'Ч' %}{% endif %}
                {% if record[2] starts with 'Ч' and curr != prev %}<a name="Ч"></a>{% set prev = 'Ч' %}{% endif %}
                    {% if record[2]  starts with  'Ш' %}{% set curr = 'Ш' %}{% endif %}
                {% if record[2] starts with 'Ш' and curr != prev %}<a name="Ш"></a>{% set prev = 'Ш' %}{% endif %}
                    {% if record[2]  starts with  'Э' %}{% set curr = 'Э' %}{% endif %}
                {% if record[2] starts with 'Э' and curr != prev %}<a name="Э"></a>{% set prev = 'Э' %}{% endif %}
                    {% if record[2]  starts with  'Ю' %}{% set curr = 'Ю' %}{% endif %}
                {% if record[2] starts with 'Ю' and curr != prev %}<a name="Ю"></a>{% set prev = 'Ю' %}{% endif %}
                    {% if record[2]  starts with  'Я' %}{% set curr = 'Я' %}{% endif %}
                {% if record[2] starts with 'Я' and curr != prev %}<a name="Я"></a>{% set prev = 'Я' %}{% endif %}
                {% if byAuthor %}
                <li class="authors list"><a href="./poems.php?action=show&author_id={{ record[0] }}">{{ record[2] }} {{ record[3] }}</a> - {{ record[4] }}</li>
                 {% else %}
                <li class="authors list"><a href="./authors.php?action=show&record_id={{ record[0] }}">{{ record[2] }} {{ record[3] }}</a> - {{ record[4] }}</li>
                {% endif %}
                {% endfor %}
            </ol>
            {% endapply %}
            </div>
            {% elseif showall %}
            <div id="translators_content_table">
                <ol>
                    {% for record in records %}
                    <li class="authors list"><a href="./authors.php?action=show&record_id={{ record[0] }}">{{ record[2] }} {{ record[3] }}</a> - {{ record[4] }}</li>
                    {% endfor %}
                </ol>
            </div>
            {% elseif search %}
            <form action="./authors.php?action=search&posted=1" method="POST">
                <div class="form-group">
                    <label for="inputPattern">Введите слово или словосочитание для поиска</label>
                    <input type="text" class="form-control" name="pattern" id="inputPattern" placeholder="Бао Линхуэй" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}