{% extends 'page_root.html.twig' %} {% block content %}
<!-- originals_list.html.twig-->
<div class="jumbotron" id="originals_jumbotron">
    <div class="row">
        <div class="col-10 mx-auto">
            <h4 class="originals header" id="originals_header">{{ header }}</h4>
            <p>&nbsp;</p>
            {% if showall %}
            <script>
                function showHide(id) {
                  var x = document.getElementById(id);;
                  if ((x.style.display === "none")||(x.style.display === "")) {
                    x.style.display = "block";
                  } else {
                    x.style.display = "none";
                  }
                }
            </script>
            {% if final is empty %}
                <p style="text-align: center">Нет стихов</p>
            {% endif %}
            <div id="originals_content_table">
            <ol>
                {% for fin in final %}
                {% set authorsline = fin.author|split('#') %}
                <h4><li class="originals autors list"><a href="./authors.php?action=show&record_id={{ authorsline[1] }}">{{ authorsline[0]|raw }}</a>{{ authorsline[3]|raw }} - {{ authorsline[2] }}
                    &nbsp;<button  type="button" class="btn  btn-outline-warning btn-sm" onclick="showHide('a{{ authorsline[1] }}')">Стихи</button></li></h4>
                
                    <ul id="a{{ authorsline[1] }}" class="poemlist">
                        {% for cycle in fin.poems|keys %}
                            {% if not (cycle starts with  'default') %}                        
                                <li class="originals cycle">{{ cycle|raw }}<ul>
                            {% endif %}
                            {% for subcycle in fin.poems[cycle]|keys %}
                                {% if not (subcycle starts with  'default') %}                        
                                    <li  class="originals subcycle">{{ subcycle|raw }}<ul>
                                {% endif %}
                                    {% for poem in fin.poems[cycle][subcycle] %}
                                    <li class="originals poem_name"><a href="./originals.php?action=show&record_id={{ poem[0] }}">
                                        <span class="poem_name zh">{{ poem[10]|raw }}</span> <span class="poem_name ru">{{ poem[11]|raw }}</span></a></li>
                                    {% endfor %}
                                                
                                {% if not (subcycle starts with  'default') %}                        
                                    </ul></li>
                                {% endif %}
                            {% endfor %}
                            {% if not (cycle starts with  'default') %}                        
                                </ul></li>
                            {% endif %}
                      {% endfor %}
                    </ul></li>
                {% endfor %}
            </ol>
            </div>
            {% elseif search %}
            <form action="./originals.php?action=search&posted=1" method="POST">
                <div class="form-group">
                    <label for="inputPattern">Введите слово или словосочитание для поиска</label>
                    <input type="text" class="form-control" name="pattern" id="inputPattern" placeholder="插在长颈的虾青瓷的瓶里" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}